<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WashWiz</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <link rel="stylesheet" href="../static/css/searchtrxn.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body
    onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'
  >
    <!--navbar-->
    <nav class="navbar glass" style="height: 70px">
      <span
        ><a href="#home" style="display: flex; align-items: center"
          ><img
            class="img2"
            src="../static/images/mountain.png"
            width="40"
            style="margin: -25px -10px -25px -20px"
          />
          <h1 class="logo">&nbsp;WashWiz</h1></a
        ></span
      >
      <ul class="nav-links">
        <li>
          <a href="/" id="pri" class="active cir_border">Home</a>
        </li>
        <li>
          <a href="#features" id="sec" class="cir_border">Key Features</a>
        </li>
        <li>
          <a href="#explore" id="tri" class="cir_border">Explore</a>
        </li>
        <li>
          <a href="#track" id="tri1" class="cir_border"> Track Order</a>
        </li>
        <li>
          <a href="#types" id="quad" class="cir_border">Types of Washing</a>
        </li>
        <li><a href="#about" id="quint" class="cir_border">About</a></li>
        <li>
          <a href="#contribution" id="hex" class="cir_border">Contributions</a>
        </li>
        <li>
          <a href="#contact" id="hept" class="cir_border">Contact</a>
        </li>
        <li>
          <a href="/login" id="oct" class="cir_border"> Admin</a>
        </li>
      </ul>
      <img src="../static/images/menu-btn.png" alt="" class="menu-btn" />
    </nav>
    <section>
      <div class="search-bar">
        <form action="/searchtrxn" , method="post">
          <div class="title">
            <h1 class="font-color">Track Order</h1>
            <div class="line"></div>
          </div>
          <div class="input-box">
            <input type="search" required id="search" name="search" />
            <label> Enter your transaction ID to track your order </label>
          </div>
          <button type="submit">Search</button>
        </form>
      </div>
    </section>

    <div class="transaction-details">
      <table>
        <thead>
          <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Type</th>
            <th>Service Point</th>
            <th>Cost</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{id}}</td>
            <td>{{transaction["date"]}}</td>
            <td>{{transaction["type"]}}</td>
            <td>{{transaction["service_point"]}}</td>
            <td>{{transaction["cost"]}}</td>
            <td>{{transaction["quantity"]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5><strong> Status: </strong>{{transaction["state"]}}</h5>
  </body>
</html>
