<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 Error Page</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Custom stlylesheet -->
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/css/wrongtrxn_id.css"
    />
  </head>

  <body>
    <div class="vertical-center">
      <div class="container">
        <div id="notfound" class="text-center">
          <h1>😮</h1>
          <h2>Oops! Same name, two countries maybe? No right!</h2>
          <p>
            The credntials you entered for the new service point already exists!
          </p>
          <a href="/addsp">Back to add service points? </a><br />
          <a href="/"> Back to homepage</a>
        </div>
      </div>
    </div>
  </body>
</html>
